/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.star-widget input {
    display: none;
}

.star-widget label {
    font-size: 20px;
    color: #444;
    /* padding: 10px; */
    float: right;
    transition: all .2s ease;
}

/* input:not(:checked)~label:hover,
input:not(:checked)~label:hover~label {
    color: black;
} */

input:checked~label {
    color: gold;

}

#rate-1:checked~.rating-desc:before {
    content: "Poor😋";
}

#rate-2:checked~.rating-desc:before {
    content: "Not bad";
}

#rate-3:checked~.rating-desc:before {
    content: "Average";
}

#rate-4:checked~.rating-desc:before {
    content: "Good😋";
}

#rate-5:checked~.rating-desc:before {
    content: "Excellent😋";
}

*/ .rating-desc {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0 10px 0;
    text-align: center;
    transition: all .2s ease;
}

.star-rating-bx {
    /* background-color: #f38282; */
    /* box-shadow: 0px 4px 40px 0px rgb(0 0 0 / 5%); */
    border-radius: 10px;
    /* padding: 40px; */
}

.p-card{
    padding-left: 1px!important;
    flex-direction: row!important;
    gap: 20px!important;
    background-color: #212332!important;
}





@media (max-width:576px) {
    .star-rating-bx {
        padding: 20px 15px;
    }
    .p-card{
        padding-left: 1px!important;
        flex-direction: column!important;
        gap: 20px!important;
        background-color: #212332!important;
    }
}

.star-icon {
    padding-bottom: 20px;
}

.modal-title {
    font-weight: 600;
}

#error-comment,
#error-rating {
    color: red;
}

.testimonial__rating a {
    text-decoration: none;
    color: #f6a400;
}
